<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <!-- Default Open Graph Tags -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="<%= productName %>">
  <meta property="og:title" content="<%= productName %>">
  <meta property="og:description" content="<%= productDescription %>">
  <meta property="og:image"
    content="https://res.cloudinary.com/dhils8jyq/image/upload/c_fill,g_center,w_1200,h_630,f_auto,q_auto/v1773097612/product/750001001/cadena-ojo-egipcio-de-oro-10k-italiano-_55cm-x-3mm_-2_krek6b.jpg">

  <!-- Default Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= productName %>">
  <meta name="twitter:description" content="<%= productDescription %>">
  <meta name="twitter:image"
    content="https://res.cloudinary.com/dhils8jyq/image/upload/c_fill,g_center,w_1200,h_630,f_auto,q_auto/v1773097612/product/750001001/cadena-ojo-egipcio-de-oro-10k-italiano-_55cm-x-3mm_-2_krek6b.jpg">
</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>
