// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url(../../node_modules/swiper/swiper.css);

@font-face {
  font-family: "Switzer-Variable";
  src: url("./fonts/Switzer-Variable.woff2") format("woff2"),
    url("./fonts/Switzer-Variable.woff") format("woff"),
    url("./fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

body {
  color: #707279;
}
